.main {
  grid-row-start: 2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.main > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
    max-width: 460px;
    padding: 50px;
    border-radius: 40px;
    /*box-shadow: 0 0 28px 1px var(--box-shadow);*/
    /*border: 2px solid var(--box-shadow);*/
}

.main > form > div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.main > form > input,  
.main > form > .input > input {
    outline: none;
    background-color: var(--background);
    border: 1px solid var(--foreground);
    padding: 16px 20px;
    border-radius: 40px;
    width: 100%;
}

.show {
    background-color: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
    color: var(--foreground);
    position: absolute;
    right: 24px;
    transform: translateY(2px);
}


@media (max-width: 800px) {
    .main > form {
        box-shadow: none;
        border:none;
    }
}

@media (max-width: 540px) {
    .main > form {
        max-width: 360px;
        padding: 0;
        border-radius: none;
    }
}
